<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
    <link rel="icon" type="image/jpg" href="{{url_for('static', filename='img/icons/nFavIcon.png')}}"/>
    <title>NunchakuLovers</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    
</head>
<body>
    
    <header id="head" >
        <img src="{{url_for('static', filename='img/wna.jpeg')}}" class="nlogo" alt="nunchakus logo">
        <img src="{{url_for('static', filename='img/nunchakudraw.jpeg')}}" class="nlogo" alt="nunchakus draw">
    </header>
    <nav id="menu" ><!--Menú de navegación-->
        <ul class="navUl">
            <li><a href="#" class="navLink">Inicio</a></li>
            <li><a href="#" class="navLink">Tienda</a></li>
            <li><a href="#" class="navLink">Eventos</a></li>
            <li><a href="#" class="navLink">Regulaciones</a></li>
            <li><a href="#" class="navLink">Partners</a>
                <ul>
                    <li><a href="#" class="navLink">IRDC</a></li>
                    <li><a href="#" class="navLink">Nacho lee <br>Academy</a></li>
                    <li><a href="#" class="navLink">Fac</a></li>
                </ul>
            </li>
            <li><a href="#" class="navLink">Tutoriales</a></li>
            <li><a href="{{url_for('pagina2')}}" class="navLink">Cinturón negro</a></li>
        </ul>
    </nav>

    <div id="cuerpo">

    <div class="ninja"></div>

    <section id="section" >
        <article class="article1" >
            <div class="txt"><H1>Nunchaku-do en 2 minutos</H1>
                <P><span class="sub">Video de dos minutos,</span> con el que te harás una idea del ambiente de Nunchaku-do, tanto dentro como fuera del tatami.
                    Este video captura a la perfección la deportividad, la energía, la emoción y la liberación, todo con una banda sonora a la altura.</P>
            </div>
            <div>
                <video class="video" src="{{url_for('static', filename='vid/nunchakuPractice.mp4')}}" controls></video>
            </div>
        </article>
    </section>

<div class="divisor"><h1>NUNCHAKU-DO. Un deporte⬇</h1></div>
<div class="section2">
<section id="section2">
    <article class="article" ><H1>Nunchaku-do</H1>
        <P>El Nunchaku-do es un arte marcial de semicontacto basado en el nunchaku, el arma japonesa del karate. Este arma existe desde hace miles de años, pero su reputación internacional creció enormemente después de que Bruce Lee usara el nunchaku en sus películas.
            <br>
            En la década de 1980, Milco Lambrecht desarrolló un nunchaku de seguridad especial que permitía a los aficionados de todo el mundo mejorar sus habilidades de forma segura, incluso en países donde el nunchaku original estaba legalmente prohibido. <br>
            La competición de semicontacto se hizo posible por primera vez, y con ella, nació el Nunchaku-do.</P><br>
        <p>El sistema Nunchaku-do ofrece competiciones, graduaciones (cinturón negro y superior) y cursos de entrenamiento. Por ello, el deporte creció enormemente en sus primeros años, por lo que no fue hasta mucho antes de que se fundara la Asociación Mundial de Nunchaku (WNA). <br>
                La WNA promueve la práctica del nunchaku en todo el mundo y ha puesto a disposición de todos un sistema claro: desde niños hasta personas mayores, independientemente de su procedencia. Nos enorgullece ser la organización de nunchaku con mayor número de miembros a nivel mundial y seguiremos promoviéndola en todo lo posible.</p>
    </article>
    <article class="article" ><H1>Kumite</H1>
        <P>Una pelea de semicontacto entre dos participantes, que pueden ganar puntos al intentar golpearse. Tenga en cuenta que todos los practicantes trabajan con el nunchaku de seguridad y usan equipo de protección (casco y gorro), lo que permite a los luchadores darlo todo sin comprometer la seguridad. El sistema de kumite es físicamente resistente, ya que el nunchaku-do es uno de los deportes más rápidos del mundo para los espectadores y practicantes. Las reglas dictan que el nunchaku debe girar constantemente durante el combate, lo que garantiza la victoria del oponente más hábil. Para una impresión sobre el kumite,</P>
    </article>
    <article class="article">
            <h1>Practicantes desde el 2020</h1>
            <!-- Imagen insertada -->
            <img src="data:image/png;base64,{{ imagen }}" with="400px" high="400px" alt="· Precticandes">
            
    </article>
    <article class="article">
            <h1>Alejando niños de las calles</h1>
            <h5>Comparativa Alumnos Junior Vs Mayores</h5>
            <!-- Imagen insertada -->
             <canvas id="chart5" style="width: 500px; height: 300px;" ></canvas>
            
    </article>
</section>
<aside id="side" >
        <form name="formulario">
            <H2>CONTACTO</H2><br>
            <p>Si tienes alguna pregunta puedes contactarnos en cualquier momento utilizando este formulario.</p><br>
            <table border="0">
                <tr><td>Nombre: </td><td><input type="text" name="txtNombre" placeholder="Su Nombre completo" required></td></tr>
                <tr><td>Correo: </td><td><input type="email" name="myEmail" placeholder="Ingrese su eMail" required></td></tr>
                <tr><td>Asunto: </td><td><textarea id="story" name="story" rows="5" cols="18" placeholder="Cómo podemos aydarle?"></textarea></td></tr>
                <tr><td>Fecha: </td><td><input type="date" name="date" required></td></tr>
                <tr><td>Intentos: </td><td><input type="number" name="nEstr" min="1" max="6" step="1"></td></tr>
                <tr><td><input type="submit" name="btnSend" value="Enviar"></td></tr>
            </table>
        </form>
    
</aside>
</div>

    <footer id="foot" >
        <a href="#head"><h4>Volver arriba ⬆️</h4></a>
        <div class="social">
            <a href="#foot"><img class="sIcon" src="{{url_for('static', filename='img/icons/fIcon.png')}}" alt="fIcon"></a>
            <a href="#foot"><img class="sIcon" src="{{url_for('static', filename='img/icons/iIcon.png')}}" alt="iIcon"></a>
            <a href="#foot"><img class="sIcon" src="{{url_for('static', filename='img/icons/yIcon.png')}}" alt="yIcon"></a>
        </div>
        <h3>No lo olvides, ¡Corre a por tus sueños! Si no los alcanzas, por lo menos hiciste deporte!. </H3>
        <H4>Copyright 2025 WNA | All Rights Reserved | No nos hackeen por favor</h4>
                <img src="{{url_for('static', filename='img/wna.jpeg')}}" class="logo" alt="nunchakus logo">
    </footer>


    <script>
        const labels= {{ labels | tojson }};
        const Junior= {{ junior | tojson }};
        const Mayores= {{ mayores | tojson }};
        new Chart(document.getElementById("chart5"), {
            type: 'line',
            data: {
                labels: labels,
                datasets: [
                    {
                        label: 'Niños',
                        data: Junior,
                        borderColor: 'rgba(255, 99, 132, 1)',
                        fill: false
                    },
                    {
                        label: 'Mayores',
                        data: Mayores,
                        borderColor: 'rgba(54, 162, 235, 1)',
                        fill: false
                    }
                ]
            },
            option: { responsive: false }
        });
    </script>

</body>
</html>